@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
	--cube-size: 180px;
	--cube-half: 90px;
	--piece-size: 60px;
	--piece-half: 30px;
	--hue: 9;
	--saturation: 90%;
	--light-background: hsl(var(--hue), var(--saturation), 97%);
	--dark-background: hsl(var(--hue), var(--saturation), 10%);

	font-family: 'Poppins', sans-serif;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	perspective: 1000px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: var(--light-background);
	transition: background-color 0.2s linear;
}

body.dark {
	background-color: var(--dark-background);
}

button {
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.cube {
	font-size: 20px;
	width: var(--cube-size);
	height: var(--cube-size);
	transform-style: preserve-3d;
	transition: transform 0.3s linear;
}

.cube.animate {
	animation: spin 3s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotateX(20deg) rotateY(360deg);
	}

	100% {
		transform: rotateX(20deg) rotateY(0deg);
	}
}

.cube-piece {
	position: absolute;
	top: calc(var(--cube-half) - var(--piece-half));
	left: calc(var(--cube-half) - var(--piece-half));
	width: var(--piece-size);
	height: var(--piece-size);
	background-color: rgba(245, 93, 67, 0.6);
	color: white;
	cursor: pointer;
	box-shadow: inset 0 0 10px #ffffff80;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color, box-shadow 0.2s linear;
}

.cube-piece:hover {
	background-color: #f55d43cc;
	box-shadow: inset 0 0 10px rgba(155, 13, 13, 0.5), 3px 3px 3px rgb(100, 100, 100);
}

.cube-controls {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0 auto 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.cube-controls > button {
	background-color: rgba(245, 93, 67, 1);
	border: 2px solid rgb(151, 36, 15);
	box-shadow: inset 0 0 10px rgba(155, 13, 13, 0.5), 1px 1px 1px rgb(168, 168, 168);
	color: white;
	padding: 10px 20px;
	outline: none;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 5px;
	transition: opacity, background-color, border, box-shadow 0.2s linear;
}

.dark .cube-controls > button {
	border-color: rgb(255, 162, 145);
	box-shadow: inset 0 0 10px rgba(155, 13, 13, 0.5), 2px 2px 2px rgb(100, 100, 100);
}

.cube-controls > button:hover {
	background-color: rgba(245, 93, 67, 0.8);
	box-shadow: inset 0 0 10px rgba(155, 13, 13, 0.5), 3px 3px 3px rgb(100, 100, 100);
}

.cube.animate + .cube-controls > button.rotate-button {
	opacity: 0.3;
	box-shadow: none;
}

.cube.animate + .cube-controls > button.rotate-button:hover {
	box-shadow: none;
}

#themeToggle {
	position: fixed;
	top: 15px;
	left: 15px;
	outline: none;
	background-color: tomato;
	border: 2px solid var(--dark-background);
	border-radius: 20px;
	color: var(--light-background);
	font-size: 10px;
	text-transform: uppercase;
	padding: 0 10px;
	text-align: right;
	width: 75px;
	height: 24px;
	line-height: 12px;
	transition: opacity, background-color, text-align, color, border 0.2s linear;
}

.dark #themeToggle {
	background-color: tomato;
	border-color: var(--light-background);
	text-align: left;
}

#themeToggle:hover {
	opacity: 0.9;
}

#themeToggle::after {
	content: '';
	width: 30px;
	height: 30px;
	background-color: var(--dark-background);
	position: absolute;
	top: -5px;
	left: -2px;
	border-radius: 50%;
	z-index: 5;
	transition: background-color, left 0.2s linear;
}

.dark #themeToggle::after {
	background-color: var(--light-background);
	left: 50px;
}

#themeToggle::before {
	content: '';
	width: 42px;
	height: 42px;
	background-color: var(--dark-background);
	opacity: 0.15;
	position: absolute;
	top: -12px;
	left: -9px;
	border-radius: 50%;
	transform: scale(0.2);
	transition: transform, background-color, left 0.2s linear;
}

#themeToggle:hover::before {
	transform: scale(1);
}

.dark #themeToggle::before {
	background-color: var(--light-background);
	left: 45px;
}